@charset "UTF-8";
/* CSS Document */
/*-webkit-gradient(tipo , punto inicio, punto final, color inicio, color final, color-stop(porcentaje, color), color-stop(porcentaje, color) ). 

background: -moz-linear-gradient(left top, left bottom, from(#00abeb), to(#fff)*/
p {
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size:1.2em;
	line-height:1.3em;
}
div.popup{
background-color: white;
    border: medium double;
    height: 200px;
    left: 30%;
    position: absolute;
    top: 35%;
    width: 440px;	
	opacity: 1;
	   z-index: 2;
	   border-color: rgb(243, 130, 50);
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),
		color-stop(100%, #fcfcfc) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);
	/* W3C */
	filter: progid :       DXImageTransform.Microsoft.gradient (      
		  startColorstr =   
		   '#fff48c', endColorstr =       '#fcfcfc', GradientType =       0 );
	/* IE6-9 */
}
p.txtPopup{
margin-left:30px;
margin-top:30px;	
	
}
div.menu {
	/*background-image:-moz-linear-gradient(bottom, rgb(255,244,140) 37%, rgb(255,255,255) 85%);*/
	position: relative;
	width: 25vw;
	float: left;
	height: 100vh;
	background: #fff48c; /* Old browsers */
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),
		color-stop(100%, #fcfcfc) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);
	/* W3C */
	filter: progid :       DXImageTransform.Microsoft.gradient (      
		  startColorstr =   
		   '#fff48c', endColorstr =       '#fcfcfc', GradientType =       0 );
	/* IE6-9 */
	 /* opacity: 0.6;*/
}

div.buscar{
display: block;
    height: auto;
    left: 621.5px;
    outline: 0 none;
    overflow: hidden;
    position: absolute;
    top: 285px;
    width: 662px;
    z-index: 1004;	
}
div.fondo{
	background: url("img/POPIN_FOND.png") repeat scroll 50% 50% #AAAAAA;
    opacity: 0.3;
    position: absolute;
    top: 0;
	
	 height: 1165px;
    width: 1905px;
    z-index: 1;
	  margin: 0;
    padding: 0;

}



#botonera {
	 
	margin-bottom:30px;
}


button.menu {
	background-color: transparent;
	float: center;
	width: 70%;
	margin-left: 60px;
	margin-top: -3px;
	height: 50px;
	color: black;
	font-size: 22pt;
	font-family: "Comic Sans MS", bold;
	border-color: rgb(243, 130, 50);
	border-style: solid;
	border-width: 3px 0 3px 0;
}
button.menu:hover{
	
	background-color: #FC9;
}
button.selected{
	background-color:orange;
}

button.btn {
	background-color: transparent;
	float: center;
	width: 35%;
	margin-left: 10%;
	margin-top: -3px;
	height: 2.4em;
	color: black;
	font-size: 16pt;
	font-family: "Comic Sans MS", bold;
	border-color: rgb(243, 130, 50);
	border-style: solid;
	border-width: 3px 0 3px 0;
}
button.btn:hover{
	background-color: #FC9;
}

 
p.cabecera {
	font-family: Arial, Verdana, Geneva, sans-serif;
 
	padding: 50px 20px;
}

p.firma {
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size: large;
	text-align: right;
	margin-right: 30px !important;
}

p.texto {
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size: large;
	padding: 50px 20px;;

}

#footer {
	position: relative;
	bottom: 10%;
}

.holder {
	width: auto;
	display: flex;
	position: relative;
	top: -200px;
}

.holder img {
	max-width: 240px;
	width: 100%; /*  Will shrink image to 30% of its original width */
	height: auto;
	float: right;
}

img.muneco {
	position: absolute;
	right: 5px;
	top: 300px;
	max-width: 200px;
	height: auto;
}

.idPieza {
	font-weight: bold;
	border-bottom: 5px double red;
	width: 100%;
}

.contentPieza {
	width: 100%;
}

.pieza {
	border: 1px solid blue;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 5px 15px 5px 15px;
}

#buscador {
	padding: 180px 20px 50px 20px;
}



.txtBuscar {
	margin:20px 0 20px 40px;
	padding-left:5px;
	width: 350px;
	border: 2px solid orange;
	background-color: light-grey;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 12pt;
	font-family: "Comic Sans MS", bold;
	height:30px;
}

	.btnBuscar{
	width:26px;
	border:none;
		height: 26px;
	
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
			background-image:url(img/magnifyingglass.png);

}
#intro{
	padding: 50px 60px 50px 60px;
}
div.introTxt{
		padding: 30px 20px 30px 20px;
		border: 2px solid orange;
		margin: 0px 90px 0px 90px;	
		
	 	font-family: Arial, Verdana, Geneva, sans-serif;
}
div.puzzleName{
	width:150px;
		padding: 10px 20px 30px 20px;
		border: 3px solid orange;
		margin: 0px 30px 15px 30px;	
		height:3px;
	 	font-family: Arial, Verdana, Geneva, sans-serif;
		background-color:lightgoldenrodyellow;
}
	p.puzzleName{
	text-align:center;	
	}
#pieza{
	
	
	padding:5px 5px 5px 5px;
}

#btnLeft{
float:left;
 transform: rotate(180deg);
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Safari and Chrome */

 color:orange;
font-size: 6em;
cursor:default;
	
}
#btnRight{
	float:right;
 color:orange;
font-size: 6em;
cursor:default;
}

#mail{
	float: center;
	margin-left:100px;
	text-decoration:none;
	color: black;
	font-size: 18pt;
	font-family: "Comic Sans MS", bold;
	
}
#cerrar{
background-image:url(img/close.png);	
width:35px;
height:37px;
margin-bottom:30px;
float:right;
}
 
 #iconfb{
	margin-top:-39px; 
	float:right;
 }
 #divfb{
	 	width: 70%;

	 
	 
	 height: 50px;
	
		
		 
	float: center;

	margin-left: 60px;
	margin-top: -3px;
	
	border-color: rgb(243, 130, 50);
	border-style: solid;
	border-width: 3px 0 3px 0;
	 
 }
 #fb{
	 margin-left: 60px;
	margin-top: 10px;
	font-size: 22pt;
	font-family: "Comic Sans MS", bold;
	border-color: rgb(243, 130, 50);
 }
 div.loginButton{
	padding-left: 90%;
	position:relative;
	padding-top:0.5em;
	
 }
 #cPuzzles{
	
	 padding:20px 0px 0px 20px;
	 
 }

 #puzzles{
	margin-top:20px; 
 }
 
 

 
 
 div.center{
	
	 margin-left: 25%;
	
   position: relative;
height:71.4vh;
 /*
	background: #fff48c;
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),
		color-stop(100%, #fcfcfc) ); 
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);

	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);

	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);

	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);

	filter: progid :       DXImageTransform.Microsoft.gradient (      
		  startColorstr =   
		   '#fff48c', endColorstr =       '#fcfcfc', GradientType =       0 );

	*/
	
	}
	
	

	
	
 div.cabecera{
	 
	
	  height: 9vh;
	 margin-left: 25vw;
	 position:relative;
	 padding-top:0.5em;
	 
	 background: #fff48c;
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),
		color-stop(100%, #fcfcfc) ); 
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);

	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);

	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);

	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);

	filter: progid :       DXImageTransform.Microsoft.gradient (      
		  startColorstr =   
		   '#fff48c', endColorstr =       '#fcfcfc', GradientType =       0 );
 }	
 
 #txtCabLog{

font-size:1.5em;
font-variant:small-caps;
float:left;
padding:0.5em 0 0 2em;
  
	 
 }
 
#pie{	
bottom:0px;
 
		margin-left: 25vw;
	position:relative;
	
	 height: 10.1vh;
   position: relative;
	padding:2%;
	background: #fff48c; /* Old browsers */
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),
		color-stop(100%, #fcfcfc) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);
	/* W3C */
	filter: progid :       DXImageTransform.Microsoft.gradient (      
		  startColorstr =   
		   '#fff48c', endColorstr =       '#fcfcfc', GradientType =       0 );
	/* IE6-9 */
		
	}
	
	#cGrupos{
		height: 71.3vh;
	 overflow:auto;	
		
	}
	
	#textoPieza{
	 
 	
	font-size:1em;
		
	}
	p.txtPieGrupo{
	float:left;
	font-size:1em;
	max-width: 25vw;
text-align: center;	
	}
	
	p.txtGrupos{
	font-size:1em;
	margin:2vw;	
	}
	.bigTxt{
		font-size:1.1em;	
		font-weight:bold;
		padding: 1vw 0 1vw 20vw;
	}
	
	div.formAlta{
	padding:2vw;
	font-size:1em;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
		
	}
	#imgPuzzlink{
	width:25vw; 
	/*height:"256";	*/
	}