@charset "UTF-8";
/* CSS Document */
/*-webkit-gradient(tipo , punto inicio, punto final, color inicio, color final, color-stop(porcentaje, color), color-stop(porcentaje, color) ). 

background: -moz-linear-gradient(left top, left bottom, from(#00abeb), to(#fff)*/


@font-face {
    font-family: "Efja";
    /*src: url(fonts/Efja.eot); /* IE */
    src: local("Efja"), url(fonts/Efja.ttf) format("truetype"); /* resto de navegadores */
}


html,body{
	height:100%;
	font-size: 100%;	
}

p {
	font-family: Arial, sans-serif;
	font-size:1em;
	line-height:1.3em;
	text-align:justify;
}
p.texto {
	padding: 7% 3%;
}
div.popup{
    border: medium double;
   /* height: 30%;*/
	min-height:250px !important;
    left: 30%;
    position: absolute;
    top: 35%;
	min-width: 300px !important;
    width: 30%;	
	opacity: 1;
	z-index: 2;
	border-color: rgb(243, 130, 50);
	border-style: solid;
	border-width: 3px;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	background: #fff48c; /* Old browsers */
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),color-stop(100%, #fcfcfc) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* IE10+ */
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);/* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr ='#fff48c', endColorstr ='#fcfcfc', GradientType =0);/* IE6-9 */
	
}
p.txtPopup{
margin:5% 5% 0;
}
div.menu {
	min-height: 100% !important;
	position: relative;
	width: 25%;
	min-width:200px !important;
	float: left;

	background: #fff48c; /* Old browsers */
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),color-stop(100%, #fcfcfc) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* IE10+ */
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);/* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr ='#fff48c', endColorstr ='#fcfcfc', GradientType =0);/* IE6-9 */
	

}

div.buscar{
	display: block;
    height: auto;
    left: 621.5px;
    outline: 0 none;
    overflow: hidden;
    position: absolute;
    top: 285px;
    width: 662px;
    z-index: 1004;	
}
div.fondo{
	background-color: #AAAAAA;
    opacity: 0.3;
	min-height: 100% !important;
   width: 100% ;
    z-index: 1;
	
	   height: auto;
        position: fixed;
        top: 0;
        left: 0;
}
#botonera {	 
	margin-bottom:20%;
}
button.menu {
	background-color: transparent;
	float: center;
	width: 70%;
	margin-left: 15%;
	margin-top: -1.3%;
	/*height: 50px;*/
	color: black;
	font-size: 160%;
	font-family: Efja, bold;
	border-color: rgb(243, 130, 50);
	border-style: solid;
	border-width: 0.12em 0 ;
   color: black;
	text-shadow: 1px 2px 1px #bbbaba;
	
	
	

}
button.menu:hover{
	color:black;
	font-weight:bold;
	/*background-color: #D6D6D3;*/
	transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	box-shadow: 
        0px 0px 1px rgba(0,0,0,0.8) inset, 
        1px 0px 5px rgba(0,0,0,0.4); 
	color: #bbbbbb;
	text-shadow: 1px 2px 1px #bbbaba;
	
			-webkit-text-fill-color: #A6A1A1;
  -webkit-text-stroke-color: #A6A1A1;
  -webkit-text-stroke-width: 0.50px;   
  
 background: #fff48c; /* Old browsers */
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),color-stop(100%, #fcfcfc) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* IE10+ */
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);/* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr ='#fff48c', endColorstr ='#fcfcfc', GradientType =0);/* IE6-9 */
	
	
}
button.selected{
	background-color:rgba(243,217,184,0.8);
		color: #bbbbbb;
			font-weight:bold;
	text-shadow: 1px 2px 1px #bbbaba;
		 box-shadow: 
        0px 0px 1px rgba(0,0,0,0.8) inset, 
        1px 0px 5px rgba(0,0,0,0.4); 
		
				-webkit-text-fill-color: #A6A1A1;
  -webkit-text-stroke-color: #A6A1A1;
  -webkit-text-stroke-width: 0.50px;   
  
  background: #fff48c; /* Old browsers */
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),color-stop(100%, #fcfcfc) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* IE10+ */
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);/* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr ='#fff48c', endColorstr ='#fcfcfc', GradientType =0);/* IE6-9 */
	
	
}


button.btn {
	background-color: transparent;
	float: center;
	width: 35%;
	min-width:200px !important;
	margin-left: 10%;
	margin-top: -0.2%;
	height: 2.4em;
	min-height:50px !important;
	color: black;
	font-size: 1.1em;
	font-family: "Efja", bold;
	border-color: rgb(243, 130, 50);
	border-style: solid;
	border-width: 3px 0 3px 0;
	
	background: #fff48c; /* Old browsers */
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),color-stop(100%, #fcfcfc) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* IE10+ */
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);/* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr ='#fff48c', endColorstr ='#fcfcfc', GradientType =0);/* IE6-9 */		

	

}
button.btn:hover{
	background-color: #FC9;
	
	/*color:gray;*/
	/*background-color: #D6D6D3;*/
	transform: scale(1.1,1.1);
	 
	-ms-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	box-shadow: 
        0px 0px 1px rgba(0,0,0,0.8) inset, 
        1px 0px 5px rgba(0,0,0,0.4); 
	color: #bbbbbb;
	text-shadow: 1px 2px 1px #bbbaba;
				-webkit-text-fill-color: #bbbbbb;
  -webkit-text-stroke-color: #bbbbbb;
  -webkit-text-stroke-width: 0.50px;  
		font-weight:bold;
}

button.btn:selected{
background-color:rgba(243,217,184,0.8);
		color: #bbbbbb;
	text-shadow: 1px 2px 1px #bbbaba;
		 box-shadow: 
        0px 0px 1px rgba(0,0,0,0.8) inset, 
        1px 0px 5px rgba(0,0,0,0.4); 
		font-weight:bold;
				-webkit-text-fill-color: #bbbbbb;
  -webkit-text-stroke-color: #bbbbbb;
  -webkit-text-stroke-width: 0.50px;   
}

p.cabecera {
	padding: 0% 3%;
}

p.firma {
	text-align: right;
	margin-right: 3% !important;
}
#footer {
	position: relative;
	bottom: 10%;
}mai
/*.holder {
	width: auto;
	display: flex;
	position: relative;
	top: -200px;
}*/

/*.holder img {
	max-width: 240px;
	width: 100%; 
	height: auto;
	float: right;
}*/

/*img.muneco {
	position: absolute;
	right: 5px;
	top: 300px;
	max-width: 200px;
	height: auto;
}*/

.idPieza {
	font-weight: bold;
	border-bottom: 5px double red;
	width: 100%;
}

.contentPieza {
	width: 96%;
	margin-bottom: 3%
}

.pieza {
	border: 1px solid blue;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	padding: 2% 5%;
}
/*#buscador {
	padding: 180px 20px 50px 20px;
}*/

.txtBuscar {
	height:15%;
	width: 80%;
	margin:3% 0 6% 10%;
	padding-left:2%;
	border: 2px solid orange;
	background-color: light-grey;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	font-size: 1em;
	font-family: "Efja", bold;
}
/*
.btnBuscar{
	width:26px;
	border:none;
	height: 26px;
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background-image:url(img/magnifyingglass.png);
}*/

#intro{
	padding: 0 6% 2% 0;
}
div.introTxt{
	padding: 3% 3% ;
	border: 0.2em solid orange;
	margin: 0 10%;	
	background-color:lightgoldenrodyellow;
}
div.caja{
	width:200px;
	padding:2% 0% 2% 0%;
	border: 0.2em solid orange;
	margin: 0px 1% 1% 15%;	
 
	font-family: Arial, Verdana, Geneva, sans-serif;
	background-color:oldlace;
		cursor:pointer;
		
	
}
div.caja:hover{
	color:white;
	background-color:gray;
}
p.puzzleName{
	text-align:center;	
}
#pieza{
	padding:5px 5px 5px 5px;
}

#btnLeft{
	float:left;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	color:orange;
	font-size: 6em;
	cursor:default;
	text-shadow: 1px -2px 1px #bbbaba;
}
#btnRight{
	float:right;
	color:orange;
	font-size: 6em;
	cursor:default;
	text-shadow: 1px 2px 1px #bbbaba;
	

}

#mail{
	float: center;
	margin-left:21%;
	text-decoration:none;
	color: black;
	font-size: 0.7em;
	font-family: "Arial", bold;
}
#cerrar{
	background-color:grey;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	color:white;
	font-size:bold;
	width:9%;
	height:20%;
	float:right;
}
#iconfb{
	float:right;
	position:relative;
	top:-82%;
	width: 11%;
	min-width: 30px;
 }

 div.loginButton{
	padding-left: 90%;
	position:relative;
 }


 #puzzles{
	margin-top:5%; 
 }
 #alias{
 font-weight:bold;
 
 }
 div.center{margin-top:5%;
 left:25%;
	margin-left: 25%;
 
	min-width:500px !important;
	/*position: relative;*/
/*	height:70%;*/
}
	div.cabecera2{
	min-width: 500px;
	display:-moz-box; /* Firefox */
display:-webkit-box; /* Safari and Chrome */
display:-ms-flexbox; /* Internet Explorer 10 */
display:box;
	 
	 
	 
	}
 div.cabecera{

	height: 4em;
	width:75%;
	min-width:600px !important;
	margin-left: 24.9%;
	/*position:absolute;*/
	padding-top:0.5em;
	background: #fff48c;
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),color-stop(100%, #fcfcfc) ); 
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);
	filter: progid :DXImageTransform.Microsoft.gradient ( startColorstr = '#fff48c', endColorstr ='#fcfcfc', GradientType =0 );
 }	
 
 #txtCabLog{

	font-size:1em;


	padding:0.5em 0 0 2em; 
	
	
	-moz-box-flex:2.0; /* Firefox */
-webkit-box-flex:2.0; /* Safari and Chrome */
-ms-flex:2.0; /* Internet Explorer 10 */
box-flex:2.0;
 }
 
#pie{	
	bottom:0px;
 	margin-left: 25%;
	width:71%; 
	height: 12%;
   /* position: absolute;*/
	
	padding:2%;
	/*background: #fff48c; /* Old browsers */
	/*background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	*//* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),color-stop(100%, #fcfcfc) ); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);/* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);	/* IE10+ */
	/*background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);/* W3C */
	/*filter: progid :DXImageTransform.Microsoft.gradient( startColorstr ='#fff48c', endColorstr ='#fcfcfc', GradientType =0);/* IE6-9 */		

	}	
/*div.scroll{
	padding-top:3%;
	height: 95%;
	overflow:auto;		
}*/
#textoPieza{
	padding:2%;
	font-size:1em;
}
p.txtPieGrupo{
	float:left;
	font-size:1em;
	max-width: 25%;
	text-align: center;	
}
p.txtGrupos{
	font-size:1em;
	margin:0 2% 2% 2%;	
}
 
.icon{
float:left;
width:30px;
height:30px;	
}
.bigTxt:hover{
	background-color:gray;
	color:white;
}
	
div.formAlta{
	padding:2%;
	font-size:1em;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
}
#imgPuzzlink{
	width:100%; 
}
#puzzlePieza{
padding:5% 0 0 10%;	
}
button.facebook{

 
background-image:url(img/active_200.png);	

width:100px;
height:46px;
background-color:#3b5998;
color:#FFFFFF;

-moz-box-flex:1.0; /* Firefox */
-webkit-box-flex:1.0; /* Safari and Chrome */
-ms-flex:1.0; /* Internet Explorer 10 */
box-flex:1.0;
}

button.facebook{
background-image:url(img/pressed_200.png);	

}
button.logout{
	position:absolute;
	right:5%;
	top:3%;
font-size:1em;
 
width:100%;
height:100%;
max-width:100px;
max-height:46px;
background-color:#3b5998;
color:#FFFFFF;
}
#foto{
	padding-left:10%;
}

#logData{
	background-color:light-grey;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	width:20%;
}
	 
#info{
	font-family:Verdana, Geneva, sans-serif;
margin-top: 3px;
position: absolute;
margin-left:2%;
text-decoration:none;
border-width: 2px;
border-color: orange;
border-style: solid;
padding:5px;
padding-left: 25px;
z-index: 2;
 border-radius:5px;
text-shadow: 0px 1px 0px rgb(177, 171, 171);
box-shadow: 
      
       1px 1px 1px rgba(80, 74, 74, 0.4); 	
	   
	   background: #fff48c;
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),color-stop(100%, #fcfcfc) ); 
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);
	filter: progid :DXImageTransform.Microsoft.gradient ( startColorstr = '#fff48c', endColorstr ='#fcfcfc', GradientType =0 ); 
	color:black;
	font-size: 10pt;
	
}
 #enlace{
	margin-left:2%; 
 }
#enlace:hover{
	transform: scale(1.1,1.1);
	 
	-ms-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	
}
#infoPic{
	cursor:pointer;
	border-radius:50px;
border-color: orange;
border-style: solid;
color:orange;
font-size: 15pt;
border-width: 2px;
padding-top:3px;
/* padding-left: 2px; */
/* padding-right: 2px; */
vertical-align: middle;
/* margin-top: px; */
/* padding-right: 0px; */
width: 29px;
height: 27px;
text-align: center;
display:inline-block;

color:white;
font-weight:bold;
/* font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; */
	z-index:5;
	position: absolute;

	 
	text-shadow: 1px 2px 2px rgb(88, 83, 83);	
	background: #fff48c;
	background: -moz-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff48c),color-stop(100%, #fcfcfc) ); 
	background: -webkit-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: -o-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: -ms-linear-gradient(top, #fff48c 0%, #fcfcfc 100%);
	background: linear-gradient(to bottom, #fff48c 0%, #fcfcfc 100%);
	filter: progid :DXImageTransform.Microsoft.gradient ( startColorstr = '#fff48c', endColorstr ='#fcfcfc', GradientType =0 );
	
}